
h1 {
  font-size: 76px;
  padding-top: 20px
}

h3 {
  text-decoration: underline;
}

.body {
  background-color: #A15C5C;
  text-align: center;
  width: 700px;
  float: center;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-image: url('tread_HD.jpg');
}

img {
  float: right;
  height: 200px;
  width: auto;
  padding: 12px;
}

p {
  text-align: justify;
}

body div.body {
  background-color: #66C2FF;
}

body div.body div.julie span.contact {
  display: inline-block;
  border: solid;
  border-color: black;
  border-width: 5px;
  padding: 8px;
}

body div.body div.Jay-Z span.contact {
  display: inline-block;
  border: solid;
  border-color: black;
  border-width: 5px;
  padding: 8px;
}

body div.body div.Michaelangelo span.contact {
  display: inline-block;
  border: solid;
  border-color: black;
  border-width: 5px;
  padding: 8px;
}

body div.body div.julie span span.contact_left {
  text-align: left;
  float: left;
}

body div.body div.julie span span.contact_right {
  text-align: right;
  float: right;
}

body div.body div.Jay-Z span span.contact_left {
  text-align: left;
  float: left;
}

body div.body div.Jay-Z span span.contact_right {
  text-align: right;
  float: right;
}

body div.body div.Michaelangelo span span.contact_left {
  text-align: left;
  float: left;
}

body div.body div.Michaelangelo span span.contact_right {
  text-align: right;
  float: right;
}

