
body {
  background-image: url('tread_HD.jpg');
}


.body {
  background-color: #66C2FF;
  text-align: center;
  width: 700px;
  float: center;
  margin-left: auto;
  margin-right: auto;
}

a:visited {
  color: blue;
}

a:hover {
  color: red;
}

.pics {
  width: 500px;
  height: auto;
  border: double;
}


body div.body div.table ul span {
  display: table;
  text-align: center;
  width: 660px;
  float: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  background-color: #66C2FF;
  padding-bottom: 0px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

#move {
  position: relative;
  left: -40px;
}


#home_nav {
  display: table-cell;
  border: solid;
  border-width: 3px;
  border-color: black;
}

#news_nav {
  display: table-cell;
  border-top-style: solid;
  border-top-style: solid;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-color: black;
  float: center;
}

#contact_nav {
  display: table-cell;
  border: solid;
  border-width: 3px;
  border-color: black;
}

p {
  text-align: justify;
  padding: 20px;
  text-indent: 30px;
  font-size: 19px;
}