

.body {
  background-color: #D7D6D1;
  text-align: center;
  width: 700px;
  float: center;
  margin-left: auto;
  margin-right: auto;
}

#info {
  display: inline;
  font-size: 20px;
}


a:visited {
  color: blue;
}

a:hover {
  color: red;
}


.pics {
  width: 500px;
  height: auto;
  border: double;
}

body {
  background-image: url('tread_HD.jpg');
}

p {
  text-align: justify;
  padding: 20px;
  text-indent: 30px
}

#firstp {
  padding-top: 0px;
}

h2 {
  text-decoration: underline;
}

body div.tabs span#top {
  display: inline;
}

body div.body div.table ul span {
  display: table;
  text-align: center;
  width: 660px;
  float: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  background-color: #D7D6D1;
  padding-bottom: 0px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

#move {
  position: relative;
  left: -40px;
}


#home_nav {
  display: table-cell;
}

#news_nav {
  display: table-cell;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  border-color: black;
  float: center;
}

#contact_nav {
  display: table-cell;
}

#contact_nav {
  display: table-cell;
}

.button {
   border-top: 1px solid #000000;
   background: #9c9c9c;
   background: -webkit-gradient(linear, left top, left bottom, from(#636363), to(#9c9c9c));
   background: -webkit-linear-gradient(top, #636363, #9c9c9c);
   background: -moz-linear-gradient(top, #636363, #9c9c9c);
   background: -ms-linear-gradient(top, #636363, #9c9c9c);
   background: -o-linear-gradient(top, #636363, #9c9c9c);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 37px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #030303;
   background: #030303;
   color: #cccccc;
   }
.button:active {
   border-top-color: #fcfcfc;
   background: #fcfcfc;
   }